@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/* line 5, /home/ubuntu/workspace/app/assets/stylesheets/welcome.css.scss */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 16, /home/ubuntu/workspace/app/assets/stylesheets/welcome.css.scss */
a {
  color: #e74c3c;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* line 23, /home/ubuntu/workspace/app/assets/stylesheets/welcome.css.scss */
a:hover {
  color: #e76c3c;
}

/* line 26, /home/ubuntu/workspace/app/assets/stylesheets/welcome.css.scss */
.row {
  padding: 80px 0px;
}

/* line 29, /home/ubuntu/workspace/app/assets/stylesheets/welcome.css.scss */
.btn {
  border: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-transform: uppercase;
  border-radius: 0;
}

/* line 38, /home/ubuntu/workspace/app/assets/stylesheets/welcome.css.scss */
.btn-common {
  background: #3d566e;
  color: #fff;
}

/* line 42, /home/ubuntu/workspace/app/assets/stylesheets/welcome.css.scss */
.btn-common:hover {
  background: #e74c3c;
  color: #fff;
}

/* line 47, /home/ubuntu/workspace/app/assets/stylesheets/welcome.css.scss */
.title {
  text-align: center;
  font-size: 170px;
  font-family: 'Open Sans Condensed', sans-serif;
}

/* line 52, /home/ubuntu/workspace/app/assets/stylesheets/welcome.css.scss */
.subtitle {
  text-align: center;
  font-weight: 100;
  padding-bottom: 30px;
  position: relative;
  color: #bdc3c7;
}

/* line 105, /home/ubuntu/workspace/app/assets/stylesheets/welcome.css.scss */
#hero-area {
  background: #38edc0;
  color: #fff;
}
